<app-intro-slider *ngIf="showIntro" [smaller]="status !== null"></app-intro-slider>
<ion-header *ngIf="status !== null">
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      <div *ngIf="showWorkingSpinnerInStatus">
        <app-loader [isLoading]="true"></app-loader>
        <span>{{ status }}</span>
      </div>
      <span *ngIf="!showWorkingSpinnerInStatus">{{ status }}</span>
    </ion-title>
  </ion-toolbar>
  <ion-progress-bar type="indeterminate" color="secondary" *ngIf="isEstablishingConnection"></ion-progress-bar>
</ion-header>
<ion-content *ngIf="!showIntro" [ngClass]="status !== null ? 'smaller' : undefined">
  <ion-img [src]="screenSrc"></ion-img>
</ion-content>
